<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invoice Details</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 rounded">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Home</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarMenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarMenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/invoices}">Invoices</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/report}">Report</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-4">
		<h4 class="mb-0">Invoice Details</h4>
		<div th:if="${message}" class="alert alert-info text-center" role="alert" th:text="${message}"></div>
		<br></br>
		<div class="row">
			<div class="col-md-6">
				
				<table class="table table-borderless table-sm">
					<tr>
						<th align="center" colspan="2"><h4>Invoice Information</h4></th>
					</tr>
					<tr>
						<th width="40%">Invoice Number</th>
						<td th:text="${invoice.invoiceNumber}"></td>
					</tr>
					<tr>
						<th>Invoice Date</th>
						<td th:text="${invoice.invoiceDate}"></td>
					</tr>
					<tr>
						<th>Customer Name</th>
						<td th:text="${invoice.customerName}"></td>
					</tr>
					<tr>
						<th>Customer Address</th>
						<td th:text="${invoice.customerAddress}"></td>
					</tr>
					<tr>
						<th>Contact Number</th>
						<td th:text="${invoice.contactNumber}"></td>
					</tr>
				</table>
			</div>

			<div class="col-md-6">
				<table class="table table-borderless table-sm">
					<tr>
						<th align="center" colspan="2"><h4>Amount Details</h4></th>
					</tr>
					<tr>
						<th width="40%">Deposit Amount</th>
						<td th:text="${invoice.depositAmount}"></td>
					</tr>
					<tr>
						<th>Total Amount</th>
						<td th:text="${invoice.totalAmount}"> MMK</td>
					</tr>
				</table>
			</div>
		</div>

		<h4 class="mt-4">Invoice Items</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Description</th>
					<th>Price</th>
					<th>Count</th>
					<th>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${invoice.itemsList}">
					<td th:text="${item.itemDescription}"></td>
					<td th:text="${item.itemPrice}"></td>
					<td th:text="${item.itemCount}"></td>
					<td th:text="${item.itemTotalAmt}"></td>
				</tr>
			</tbody>
		</table>
		<a href="/invoices" class="btn btn-secondary mt-3">Back</a>
		<a th:href="@{/invoice/edit/{invoiceNumber}(invoiceNumber=${invoice.invoiceNumber})}"
			class="btn btn-primary mt-3">Edit Invoice</a>
		<button class="btn btn-success mt-3" onclick="window.print()">Print</button>
	</div>
	<!-- Footer -->
	<footer class="bg-light text-dark text-center mt-5 py-3 border-top">
		<p>&copy; 2026 Techbook Myanmar. All rights reserved.</p>
	</footer>
</body>

</html>